/* App.css */

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #6a1b9a; /* Morado */
}

.todo-item {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.todo-text {
  flex: 1;
  margin-left: 10px;
  color: #333; /* Color de texto predeterminado */
}

.todo-text.completed {
  text-decoration: line-through;
}

.todo-delete-icon {
  cursor: pointer;
  color: #6a1b9a; /* Morado */
}

.todo-input {
  width: 100%;
  margin-bottom: 10px;
}
